myst-parser
sphinx-rtd-theme
furo
sphinx-copybutton
sphinx-inline-tabs
nbsphinx
nbsphinx_link
linkify-it-py
linkify
ipython

torch
imageio
scikit_image
matplotlib
munch
tfpnp
cvxpy
torchlights
tensorboardX
termcolor
proximal
opencv-python
huggingface_hub
torchvision
urllib3>=2.5.0 # not directly required, pinned by Snyk to avoid a vulnerability